   body {
        padding-top: 110px;
        padding-bottom: 40px;
      }

   
    
      .form-horizontal .controls {
        margin-left: 96px;
      }
      .form-horizontal .control-label {
        width:100%;
      }

      .login-box, .login-box-main {
      padding:20px 40px;
      background:#fff;
      margin-bottom:20px;
      overflow:hidden;
      }
      .login-choice {
        float:left;
        margin:0;
        width:380px;        
      }
      .login-choice ul{
        margin:30px 0 0 0;
      }

     .login-choice ul li {
        list-style: none;
        display: inline;
     }
      .login-choice ul li a{
        border:1px solid #ddd;
        padding: 20px 15px 24px 18px;
        margin-right: 10px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        opacity: 0.65;
      }
      .login-choice ul li a:hover {
        opacity: 1;
      }
      .login-choice h3 {
       font-size:19.5px;
       color: #000; 
       font-weight: 200; 
       border-bottom: 1px solid #ddd; 
       line-height: 36px;        
      }
      .divider {
        float: left; 
        border-left: 1px solid #DDD; 
        height: 200px; 
        margin-left: 50px;
        position: relative;
        top: 0;
      }
      .divider span {
        position: relative;
       top: 85px; 
       right: 10px; 
       background: #fff; 
       padding: 12px 0;
       color:#999;        
      }
.style2 {color: #07BCF8}